/*  your css code here. If applicable */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #8A2BE2;
    margin: 0;
    font-family: Arial, sans-serif;
}

#buttons {
    display: flex;
}

.btn {
    background-color: #4B0082;
    color: white;
    border: none;
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #6A0DAD;
}

.stop {
    background-color: #DC143C;
}

.stop:hover {
    background-color: #FF4500;
}
